<head>


<body>
<div class="">
<div>
<div class="light"></div>
<div class="circle"></div>

 <div class="circle_b"></div>
 <div class="light_b"></div>

 <img class="arrow_blue" src="assets/arrow_blue.png">
 <img class="arrow" src="assets/arrow.png">
</div>

<ul>
<li><a onclick="scrollWho()" >Who am I?</a></li>
<li><a onclick="scrollMy()">My work.</a></li>
<li><a onclick="scrollCon()"> Contact me!</a></li>
<li style="float:right"><a class="active" href="#play">Play again!</a></li>
</ul>

<div > <a class="title"> Code Design</a></div>

<a href="https://www.facebook.com/" ><img class="f_ico" src="assets/facebook_ico.png"  ></a>
<a href=" https://www.instagram.com/"><img class="i_ico" src="assets/instagram_ico.png"></a>
<a href= "https://www.google.com/"><img class="g_ico" src="assets/google_ico.png"></a>
<a href= "https://www.skype.com/"><img class="s_ico" src="assets/skype_ico.png"></a>
<a href= "https://www.linkedin.com/"><img class="l_ico" src="assets/linkedin_ico.png" ></a>

<div> <a class="footer">Copyrights  Code Design 2018 © ®</a></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a> <img class="profile_photo" src="assets/profile_photo.png"  ></a>
<div class="b">
<h2>Who am I?</h2>
<br>
<h3>My name is Rafael Ferreira da Silva and I am 29 years old. 
I was borned and raised in Brazil on the state of Rio Grande do Sul.
I graduated as a medical doctor in the earlies of 2015 and later on I worked as an emergency doctor around 2 years in many hospitals.
Nevertheless my wish to use tecnology to find it a great diference for many sort of pacients like people who live in remote areas, I decided to learn how to code.
Therefore I hope be able to develop softwares and tools, to make the envirolment a much better place for people who work in healh care.</h3>


<div><a class="go_up" onclick="scrollBack()">/\ back</a></div>
</div>


<div class="c">

<h2>My work.</h2>

<a><img class="r_ico" src="assets/ruby_ico.png" ></a>
<a><img class="ra_ico" src="assets/rails_ico.png"></a>
<a><img class="c_ico" src="assets/css_ico.png"></a>
<a><img class="h_ico" src="assets/html_ico.png"></a>



<h3> So far I have been learning how to code with Ruby, how to manipulate frameworks with Rails and also I got a good notion of CSS and HTML.</h3>
<br><br>

<div><a class="go_up" onclick="scrollBack()">/\ back</a></div>

</div>

<div class="a">

    <h2> Contact me. </h2>
    <br>
    <form action="/action_page.php">
    <label for="fname">Full name</label>
    <input type="text" id="fname" name="fullname" placeholder="Your full name..">

    <label for="lname">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Your email..">

    <label for="lname">Message</label>
    <input type="text_message" id="lname" name="message" placeholder="Your message..">
  

    <label for="country">Country</label>

    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Brazil</option>
      <option value="usa">USA</option>
    </select>
  
    <input type="submit" value="Submit">
    </form>
    <div><a class="go_up" onclick="scrollBack()">/\ back</a></div>
    
<br>
    </div>

</div>
<script>
function scrollWho() {
    window.scrollBy(0, 1000);
}
function scrollMy() {
    window.scrollBy(0, 1950);
}
function scrollCon() {
    window.scrollBy(0, 2950);
}

function scrollBack() {
    window.scrollBy(0, -3000);
}

</script>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>