<body>
<div>
<div class="light"></div>
<div class="circle"></div>



 <div class="circle_b"></div>
 <div class="light_b"></div>
 <img class="arrow_blue" src="assets/arrow_blue.png">
 <img class="arrow" src="assets/arrow.png">
</div>

<ul>
<li><a onclick="scrollWho()" >Who am I?</a></li>
<li><a onclick="scrollMy()">My work.</a></li>
<li><a onclick="scrollCon()"> Contact me!</a></li>
<li style="float:right"><a class="active" href="#play">Play again!</a></li>
</ul>

<div > <a class="title"> Code Design</a></div>

<a href="https://www.facebook.com/" ><img class="f_ico" src="assets/facebook_ico.png"  ></a>
<a href=" https://www.facebook.com/"><img class="i_ico" src="assets/instagram_ico.png"></a>
<a href= "https://www.facebook.com/"><img class="g_ico" src="assets/google_ico.png"></a>
<a href= "https://www.facebook.com/"><img class="s_ico" src="assets/skype_ico.png"></a>
<a href= "https://www.facebook.com/"><img class="l_ico" src="assets/linkedin_ico.png" ></a>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<a class="profile_photo"> <img src="assets/profile_photo.png"  ></a>
<div class="b">
<h2>Who am I?</h2>
<br>
<h3><p> My name is Rafael Ferreira da Silva, I am 29 years old. 
I am borned and raised in Brazil on the state of Rio Grande do Sul.
I graduate as a medical doctor on 2015 and later on I did work around 2 years as a emergency doctor.
Therefore my wish in make a much better and the diference to my pacients, I decided lern how to code simple.
Further more I hope be able to develop softwares and tools for my pacients and people who work in healh care.</p></h3>
</div>


<div class="c">

<h2>My work.</h2>
<br>
<h3> So far I learned how to code with Ruby, how to manipulate frameworks with Rails and have a good notion of CSS and HTML.</h3>
</div>

<div class="a">

    <h2> Contact me. </h2>
    <br>
    <form action="/action_page.php">
    <label for="fname">Full name</label>
    <input type="text" id="fname" name="fullname" placeholder="Your full name..">

    <label for="lname">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Your email..">

    <label for="lname">Message</label>
    <input type="text_message" id="lname" name="message" placeholder="Your message..">
  

    <label for="country">Country</label>
    <select id="country" name="country">
      <option value="australia">Australia</option>
      <option value="canada">Brazil</option>
      <option value="usa">USA</option>
    </select>
  
    <input type="submit" value="Submit">
    </form>
    </div>


<script>
function scrollWho() {
    window.scrollBy(0, 800);
}
function scrollMy() {
    window.scrollBy(0, 2050);
}
function scrollCon() {
    window.scrollBy(0, 3000);
}

</script>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



</body>